{% extends 'layouts/base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body text-light bg-dark border border-secondary">
        <h1>Make a predicttion</h1>
         <form action="/predict/" method="POST" enctype="multipart/form-data">
            
            <div class="mb-3">
                <label for="data" class="form-label">Data</label>
                <input type="text" class="form-control " id="data" name="data" placeholder="Example">
            </div>
            <button class="btn btn-secondary">Predict</button>
        </form>
    </section>
</main>

{% endblock %}